---
import BaseHead from "@/components/BaseHead.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="es">
    <BaseHead title={title} />
    <body>
        <header></header>
        <main>
            <slot />
        </main>
        <footer></footer>
    </body>
</html>
